<div class="container mt-5">
	<h1><b>About Me</b></h1>
	<h2>Personal Information</h2>
	<p>
		<strong>Name:</strong> Su Myat Pwint Soe<br>
		<strong>Phone:</strong> +1 (437)-000-4104<br>
		<strong>Email:</strong> smpsoe1@myseneca.ca<br>
		<strong>Location:</strong> North York, Toronto, ON
	</p>

	<h2>Profile</h2>
	<p>
		I am an international graduate student majoring in Business Information Technology at Seneca Polytechnic. Being an international student has honed my time management skills as I've successfully balanced academic responsibilities with adapting to a new cultural and educational environment. Additionally, I intend to be a fast learner with little supervision.
	</p>
	<h2>Education</h2>
	<p>
		<strong>Business Information Technology - Ontario Graduate Certificate</strong><br>
		Seneca Polytechnic, Toronto, Canada<br>
		<strong>Duration:</strong> Jan 2024 - present
	</p>
	<p>
		<strong>Bachelor of Science in Computing</strong><br>
		University of Greenwich, Yangon, Myanmar<br>				<strong>Duration:</strong> 2019 - 2023
	</p>
</div>
